---
import Square from './square.astro'
---

<div
  class="relative flex h-[30px] w-full divide-x divide-dashed divide-neutral-300 sm:h-[45px] md:h-[60px] xl:h-[88px] dark:divide-neutral-700"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
