---
import data from '../../content/commission/commission.json'
import priority from '../../content/commission/priorityList.json'
import IllustratorInfo from './illustrator-info.astro'
import { prepareData } from '../../utils/commission'

interface Item {
  fileName: string
  Character: string
  Featured: boolean
  Twitter?: string
  Pixiv?: string
  Fantia?: string
  Skeb?: string
}

const flattened = prepareData(data as Item[], priority as Record<string, number>)
---
{flattened.map(commission => (
  <div key={commission.fileName}>
      <img
        src={`/assets/images/commission/${commission.fileName}.jpg`}
      alt={`${commission.Creator} ©️ ${commission.PublishDate}`}
      loading="lazy"
      class="mb-2 rounded"
    />
    <IllustratorInfo {...commission} />
  </div>
))}
