---
interface Props {
  PublishDate: string
  Creator: string
  Twitter?: string
  Pixiv?: string
  Fantia?: string
  Skeb?: string
}
const { PublishDate, Creator, Twitter, Pixiv, Fantia, Skeb } = Astro.props as Props
const formattedDate = `${PublishDate.slice(0, 4)}/${PublishDate.slice(4, 6)}/${PublishDate.slice(6, 8)}`
---

<div class="ss:text-xs flex flex-auto font-mono text-sm">
  <span>{formattedDate}</span>
  <span class="ss:pr-6 pr-16"></span>
  <span>{Creator || '-'}</span>
  <span class="grow text-right">
    <span class="ss:pr-2 pr-3"></span>
    {
      !Twitter && !Skeb && !Pixiv && !Fantia ? (
        <span class="ss:pr-2 pr-3">N/A</span>
      ) : (
        <>
          {Twitter && (
            <>
              <span class="ss:pr-2 pr-3" />
              <a href={Twitter} class="underline-offset-[0.1rem]" target="_blank">
                Twitter
              </a>
            </>
          )}
          {Pixiv && (
            <>
              <span class="ss:pr-2 pr-3" />
              <a href={Pixiv} class="underline-offset-[0.1rem]" target="_blank">
                Pixiv
              </a>
            </>
          )}
          {Fantia && (
            <>
              <span class="ss:pr-2 pr-3" />
              <a href={Fantia} class="underline-offset-[0.1rem]" target="_blank">
                Fantia
              </a>
            </>
          )}
        </>
      )
    }
  </span>
</div>
